{% extends 'layout.html' %}
{% block body %}
<nav class="navbar bg-success fixed-top">
  <div class="container-fluid" >
    <h5 style=" color: #5454c9; padding:8px; color:#000;" ><b><a href="/userbase"><img src="static/img/left.png"  alt=""style="width:20px; margin-left:5px; height:20px;"  ><b> </a></h5>
      <h5 style=" color: #5454c9; padding:8px; color:#000; margin-right:10px;" > <a href="" style="color:#000;"><img src="static/img/no.png"  alt=""style="width:25px; margin-left:20px; height:25px;"  >
      </a></h5>
  </div>
</nav>



<div class="container" style="+border-radius:10px 0 0 150px; padding: 10px; ">

 
<div class="ade" style="  padding:20px;  margin-bottom:20px;  ">
    <div class="ade"style="display: flex;  ">
     
      <h6 style="color:#000; text-align:left; margin-left:6px; "><b> <img src="static/img/check.png" style="width:10px;"></b> <br><span class="text-muted" style="font-size:13px;">2 min.</span> </h6>
    </div>
  


  <h6 class="text-muted" style="color: #000; text-align:left; ">Enjoy the new experience of chatting with global friends</h6>
  <h6 style="color:#000; text-align:left; margin-left:6px; "><b> <img src="static/img/check.png" style="width:10px;"></b> <span class="text-muted" style="font-size:13px;">online.</span> </h6>
 
  <h6  style="color: #000; background-color:rgb(72, 239, 164); text-align:center; margin:auto; padding:10px; width:300px; border-radius:15px 15px 0 15px; text-align:left;">See other dropmes</h6>
  <h6  style="color: #000; background-color:rgb(72, 239, 164); text-align:center; margin:auto;  margin-top:20px;  padding:10px; width:300px; border-radius:15px 15px 0 15px; text-align:left;"  >testing the hell oout of thishdvkfhdvlhbdljdsblhdsblhdfhjjbl<br>heWFVKYUAHEFKU,AEHFJAEBJGN ,BA.HNG/AKJ
  </h6>
  <h6  style="color: #000; background-color:rgb(72, 239, 164); text-align:center; margin:auto; padding:10px;  margin-top:20px; width:300px; border-radius:15px 15px 0 15px; text-align:left;">Testing the hell out of this until it breaks</h6>
  
</div>
</div>

</div>



<div class="position-absolute bottom-0 start-0" style="background-color:rgb(234, 227, 227);; width:100%; height:80px; padding:20px;">
  <div class="form-group" style="display:flex;">
   
    <img src="static/img/images.png"  alt=""style="width:25px; margin-left:3px; height:25px; margin-top:9px;"  >
  <input type="text" style="margin-left:5px; height:40px; background-color:#fff;"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="Type here...">
    
    
    <button class="btn" style="color: #fff;margin-left:5px; background: #631AAC; height:40px;  border: none;" type="submit" id="submitButton">Drop</button>
  </div>
</div>







































    {% endblock body %}