


{% extends 'userlayout.html' %}


  
{% block body %}
<nav class="navbar bg-success fixed-top">
  <div class="container-fluid">
    <h5 style=" color: #5454c9; padding:8px; color:#000;" ><b>dropme<b> </h5>
      <h5 style=" color: #5454c9; padding:8px; color:#000; margin-right:10px;" > <a href="/addalumni" style="color:#000;"><img src="static/img/a.png" style="width:25px; margin-left:20px;"></a></h5>
  </div>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success mb-3" role="alert">
        {{ message }} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    {% endfor %}
{% endif %}
{% endwith %}


<div class="container" style="+border-radius:10px 0 0 150px; padding: 10px; margin-top:70px; ">
  {%for user in users%} 
<div class="ade" style="  padding:20px;  margin-bottom:20px; ">
    <div class="ade"style="display: flex;  ">
      <img src="static/img/test.png" style="width:40px; height:40px; margin-bottom:5px;">
      <h6 style="color:#000; text-align:left; margin-left:6px; margin-top:5px;"><b>{{user.guardian}} <img src="static/img/check.png" style="width:10px;"></b> <br>#{{user.work}}. 2h</h6>
    </div>
  
<div class="ade"style=" background-color: #b2becc; background-color: #fff; border-radius:10px;"> 
  <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
    <img src="{{user.image_file}} "  alt=""style="width:320px; object-fit:cover;  border-radius:10px; height:350px;;"  > 
  </a>
  

  <div class="ade"style="display: flex; justify-content: space-between;margin-top:10px;  "> 
      <a href="" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>0 likes  <ion-icon name="heart-outline"></h6>
      </a>
      <h6>0 comment</h6>
  </div>
  
    <h6 style="color:#000; text-align:left; margin-left:10px; margin-top:10px; margin-bottom:20px; "><b>{{user.guardian}}</b>  {{user.fullname}}...</h6>
</div>

  <h6 class="text-muted" style="color: #000; text-align:left;">Discover dropmes near you</h6>
  <h6  style="color: #000; background-color:rgb(72, 239, 164); text-align:center; margin:auto; padding:10px; width:300px; border-radius:30px;">See other dropmes</h6>
  
</div>
</div>

{% endfor %}
</div>

</div>






{% endblock body %}
  
   




